---
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="h-card">
  <h1>
    Hey, eg eri <span class="p-given-name p-sort-string" translate="no"
      >Sigmundur</span
    >
  </h1>

  <a
    href="https://sigmundur.morkore.fo"
    rel="me"
    class="u-url u-uid"
    tabindex="-1"></a>

  <p class="p-note">
    Eg menni heimasíður, eg arbeiði sum
    <span class="p-job-title"> front-end mennari</span> hjá
    <a
      href="https://www.sansir.fo"
      target="_blank"
      rel="noopener noreferrer"
      class="h-card p-org u-url"
      translate="no">Sansir</a
    >. Eg eri eisini limur í
    <a
      href="http://"
      target="_blank"
      rel="noopener noreferrer"
      class="h-card p-org u-url"
      translate="no"
    >
      <dfn id="dfn-su">Sosialistisk Ung</dfn> (<abbr>SU</abbr>)</a
    >
    og
    <span class="h-card p-org p-name" translate="no"
      ><dfn id="dfn-fa">Frælsisfylking Anarkistanna</dfn> (<abbr>FA</abbr
      >)</span
    >.
  </p>

  <p>
    Míni persónsfornøvn eru <span class="p-pronoun">tey/hann</span>.
  </p>

  <p>
    Eg geri onkuntíð mát, og tá dámar mær væl at brúka eitt sindur av tíð til at
    fáa talerkin sýggja sindur lekkrari út og deila myndir av matinum. Myndirnar
    eru longri niðri á síðuni.
  </p>

  <p>
    Eg búgvi í <span class="p-country-name">Føroyum</span>, til ber at fáa fatur
    á mær á
    <a href="mailto:samband@morkore.fo" rel="me" translate="no" class="u-email"
      >samband@morkore.fo</a
    >.
  </p>

  <p>
    Tú kanst eisini finna meg her:
    <ul>
      <li>
        <a href="https://github.com/SigmundurMorkore" target="_blank" rel="me"
          >@SigmundurMorkore {t("footer.on")}
          <span translate="no">GitHub</span></a
        >
      </li>
      <li>
        <a
          href="https://www.instagram.com/sigmundurmorkore/"
          target="_blank"
          rel="me"
          >@sigmundurmorkore {t("footer.on")}
          <span translate="no">Instagram</span></a
        >
      </li>
    </ul>
  </p>
</section>

<style>
  hgroup {
    font-size: 36px;
    margin-bottom: 27px;
  }

  h1 {
    margin: 0;
    font-size: 36px;
    font-weight: normal;
  }

  h1 span {
    text-shadow: 0px 0px 12px var(--nice-pink);
    color: var(--nice-pink);
  }

  dfn {
    font-style: inherit;
  }
</style>
