---
import { getCollection } from "astro:content";

import PhotosList from "@components/PhotosList.astro";
import PhotoView from "@components/PhotoView.astro";

import Base from "@layouts/Base.astro";

import { getLangFromUrl, useTranslations } from "@i18n/utils";

const { path } = Astro.params;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

let allPhotos = await getCollection("photos");

const [
  maybeYear,
  maybeMonth,
  maybeDayOfMonth,
  maybeHours,
  maybeMinutes,
  maybeSeconds,
] = (path ?? "").split("/");

let dateString = "";

if (Number.parseInt(maybeYear)) {
  allPhotos = allPhotos.filter(
    (photo) => photo.data.date.getUTCFullYear() === Number.parseInt(maybeYear)
  );
  dateString += maybeYear;
}
if (Number.parseInt(maybeMonth)) {
  allPhotos = allPhotos.filter(
    (photo) => photo.data.date.getUTCMonth() + 1 === Number.parseInt(maybeMonth)
  );
  dateString += "/" + maybeMonth;
}
if (Number.parseInt(maybeDayOfMonth)) {
  allPhotos = allPhotos.filter(
    (photo) => photo.data.date.getUTCDate() === Number.parseInt(maybeDayOfMonth)
  );
  dateString += "/" + maybeDayOfMonth;
}
if (Number.parseInt(maybeHours)) {
  allPhotos = allPhotos.filter(
    (photo) => photo.data.date.getUTCHours() === Number.parseInt(maybeHours)
  );
  dateString += " " + maybeHours;
}
if (Number.parseInt(maybeMinutes)) {
  allPhotos = allPhotos.filter(
    (photo) => photo.data.date.getUTCMinutes() === Number.parseInt(maybeMinutes)
  );

  dateString += ":" + maybeMinutes;
}
if (Number.parseInt(maybeSeconds)) {
  allPhotos = allPhotos.filter(
    (photo) => photo.data.date.getUTCSeconds() === Number.parseInt(maybeSeconds)
  );
  dateString += ":" + maybeSeconds;
}

allPhotos = allPhotos.sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
);

if (allPhotos.length === 0)
  return new Response(null, { status: 404, statusText: "Not found" });

const mode = allPhotos.length > 1 ? "list" : "single";
const firstPhoto = allPhotos.at(0);
---

<Base>
  <main id="main-content">
    {
      mode === "list" && (
        <section class="full-width h-feed">
          <h2 class="p-name">
            {dateString
              ? `${t("photos.picture-for-date")} ${dateString}`
              : t("photos.my-photos")}
          </h2>

          <PhotosList photos={allPhotos} />

          {dateString && (
            <a href={`/${lang}/posts/photos`} class="u-url u-uid">
              {t("photos.view-all")}
            </a>
          )}
        </section>
      )
    }

    {
      mode === "single" && firstPhoto !== undefined && (
        <PhotoView photo={firstPhoto} />
      )
    }
  </main>
</Base>

<style>
  .h-feed > .u-url {
    margin-top: 32px;
    display: block;
  }

  .full-width {
    padding: var(--side-padding);

    & > h2 {
      margin-inline: auto;
      width: var(--text-content-width);
    }
  }
</style>
