---
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="h-card">
  <h1>
    Hi, I'm <span class="p-given-name p-sort-string" translate="no"
      >Sigmundur</span
    >
  </h1>

  <p>
    I develop websites, I currently work for <a
      href="https://www.sansir.fo"
      target="_blank"
      rel="noopener noreferrer"
      class="h-card p-org p-name u-url"
      translate="no">Sansir</a
    > as a <span class="p-job-title">front-end developer</span>
    I am also a member of <a
      href="http://"
      target="_blank"
      rel="noopener noreferrer"
      translate="no"
      ><dfn id="dfn-su">Sosialistisk Ung</dfn> (<abbr>SU</abbr>)</a
    > and
    <span class="h-card p-org p-name" translate="no"
      ><dfn id="dfn-fa" lang="fo">Frælsisfylking Anarkistanna</dfn> (<abbr
        >FA</abbr
      >)</span
    >.
  </p>

  <p>
    My pronouns are <span class="p-pronoun">they/them</span>.
  </p>

  <p>
    I sometimes make food, when I do, I like to spend a little extra time to
    make the plating to look a bit nicer, and then share images of the food. The
    images are further down on the page.
  </p>

  <p>
    I live in the <span class="p-country-name">Faroe Islands</span>, and I can
    be contacted at <a href="mailto:contact@morkore.fo" rel="me" class="u-email"
      >contact@morkore.fo</a
    >.
  </p>

  <p>
    You can also find me here:
    <ul>
      <li>
        <a href="https://github.com/SigmundurMorkore" target="_blank" rel="me"
          >@SigmundurMorkore {t("footer.on")}
          <span translate="no">GitHub</span></a
        >
      </li>
      <li>
        <a
          href="https://www.instagram.com/sigmundurmorkore/"
          target="_blank"
          rel="me"
          >@sigmundurmorkore {t("footer.on")}
          <span translate="no">Instagram</span></a
        >
      </li>
    </ul>
  </p>

  <figure class="u-sound">
    <figcaption>
      If you're curious how to pronounce my name, here you go:
    </figcaption>
    <audio controls src="/name-pronounciation.mp3">
      <!-- TODO: add more sources -->
      <track default kind="captions" srclang="fo" />
      <p>Download <a href="/name-pronounciation.mp3">MP3</a></p>
    </audio>
  </figure>
</section>

<style>
  hgroup {
    font-size: 36px;
    margin-bottom: 27px;
  }

  h1 {
    margin: 0;
    font-size: 36px;
    font-weight: normal;
  }

  h1 span {
    text-shadow: 0px 0px 12px var(--nice-pink);
    color: var(--nice-pink);
  }

  dfn {
    font-style: inherit;
  }

  figure {
    margin: 0;
  }
</style>
